@page
@model SkillTest.Pages.EducationModel
@{
    ViewData["Title"] = "Education";
}

<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Saimaa University of Applied Sciences, Lappeenranta, Finland</h3>
                <div class="subheading mb-3">Bachelor of International Business</div>
                <div>International Business</div>
                <p>GPA: 3.23</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2009 - December 2014</span></div>
        </div>
    </div>
</section>
