@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<main>
<!-- BEGIN (write your solution here) -->
<h1>Pavel Fedorov</h1>
<h2>Full-stack .NET developer</h2>

<section>
<h2>Образование</h2>
    <h4>Saimaa University of Applied Sciences, Lappeenranta, Finland</h4>
    <ul>
    <il>Business Administration, International Business</il>
    </ul>
</section>
      
<section>
<h2>Навыки</h2>
<ul>
    <li>Уверенное владение C#</li>
    <li>ASP.NET Core</li>
    <li>Entity Framework Core</li>
    <li>MS SQL</li>
    <li>Основы Typescript</li>
    <li>Основы HTML5</li>
    <li>Основы CSS</li>
</ul>
</section>

<section>
<h2>Обо мне</h2>
    <p>Энергичен и доброжелателен, люблю экспериментировать и быстро обучаюсь. Целеустремлен и ориентирован на результат. С
    легкостью устанавливаю контакт и нахожу общий язык с новыми людьми.</p>
          
    <p>В список личных увлечений входят занятия спортом, чтение художественной и академической литературы, а также изучение
    языков программирования, прикладной психологии и лингвистики.</p>
    <p>
    <ul>
        <li>Профиль на <a href=https://github.com/bakaYaR0> Github</a></li>
        <li>Профиль на <a href=https://ru.hexlet.io/u/bakayar0> Hexlet</a></li>
        <li>Профиль на <a href=https://www.codewars.com/users/bakaYaR0> Codewars</a></li>
    </ul>
    </p>
</section>
<!-- END -->
</main>
