@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<body id="page-top">
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h2 class="mb-0">
                    Fedorov
                    <span class="text-primary">Pavel</span>
                </h2>
                <div class="subheading mb-5">
                    Full-stack .NET developer · + 7 (904) 554-25-57 ·
                    <a href="mailto:name@email.com">fpa.aff.air@gmail.com</a>
                </div>
                <p class="lead mb-5"> Aspiring to become a great web developer.</p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/pavel-fedorov-601612b8/"> <i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/bakaYaR0"> <i class="fab fa-github"></i></a>
                    <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
    </div>
</body>