@page
@model SkillTest.Pages.InterestsModel
@{
    ViewData["Title"] = "Interests";
}

<!-- Interests-->
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h3 class="mb-5">Interests</h3>
        <p>Apart from computer science, I enjoy studying psychology and lingustics and have a propensity towards acquaintance and communication.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre television shows, occasionaly play video games and spend a considerable amount of time exploring the latest technology advancements in the world of software development.</p>
    </div>
</section>
